* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    color: white;
}

.title {
    margin: 20px;
}

.subtext {
    color: #CCC;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

:root {
    --tile-size: 40px; /* Default tile size */
    --tile-font-size: 16px; /* Default font size */
}

.board {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--size), var(--tile-size));
    grid-template-rows: repeat(var(--size), var(--tile-size));
    gap: 4px;
    background-color: #777;
}

.board > * {
    width: var(--tile-size);
    height: var(--tile-size);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #BBB;
    user-select: none;
    font-size: var(--tile-font-size);
}

.board > [data-status="hidden"] {
    background-color: #BBB;
    cursor: pointer;
}

.board > [data-status="mine"] {
    background-color: red;
}

.board > [data-status="number"] {
    background-color: none;
}

.board > [data-status="marked"] {
    background-color: yellow;
}

/* Стилі для випадаючого списку */
#difficulty {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

#difficulty option {
    background-color: #fff;
    color: #333;
}

#difficulty:hover,
#difficulty:focus {
    border-color: #999;
}

#difficulty option:hover {
    background-color: #ddd;
    color: #333;
}

#difficulty option:checked {
    background-color: #ddd;
    color: #333;
}

.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
}

.reset-button:hover {
    background-color: #777;
}
